.bmi-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    gap: 20px;
}

.bmi-info {
    flex: 1;
    padding: 20px;
}

.bmi-info img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.bmi-info p {
    font-size: 1.2em;
    line-height: 1.5;
}

.bmi-calculator {
    flex: 1;
    text-align: center;
}

.bmi-calculator h1 {
    font-size: 2em;
    font-weight: bold;
}

.input-container {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Optional: Add rounded corners */
}

.calculate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF2625;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.calculate-btn:hover {
    background-color: #cc0000;
}

.result {
    margin-top: 20px;
}

.bmi-value,
.bmi-message {
    font-weight: bold;
    color: #FF2625;
}
